<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buyer</title>
</head>
<body>
<label th:text="${buyer}"></label>
<br>
<br>
<a th:href="@{/user/allInformation}">My profile information</a>
<br>
<a th:href="@{/products/listToBuy}">Add product in the shopping cart</a>
<br>
<a th:href="@{/cart/view}">View shopping cart and make order</a>
<br>
<br>
<form action="/test/logout" method="post">
    <button type="submit">Logout</button>
</form>

<div th:if="${success}">
    <span th:text="${success}"></span>
</div>
</body>
</html>