#menu {
    position: fixed; /* Закрепване в горната част */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f2a900;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 20px; /* Разстояние между бутоните */
}

#menu i {
    font-size: 28px;
}

#product-table {
    border-collapse: collapse;
    background-color: white;
    margin-top: 70px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border: 3px solid black;
    border-radius: 8px;
    overflow: hidden;
}

#product-table th, #product-table td {
    border: 2px solid black;
    padding: 14px;
    text-align: left;
    font-size: 18px;
}

#product-table th {
    background-color: #f27900;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

#product-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#product-table tr:hover {
    background-color: #f1f1f1;
}

#product-table td {
    font-size: 16px;
}


#cart_table {
    border-collapse: collapse;
    background-color: white;
    margin-top: 70px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border: 3px solid black;
    border-radius: 8px;
    overflow: hidden;
    margin-left: auto; /* Центриране на таблицата */
    margin-right: auto; /* Центриране на таблицата */
}

#cart_table th, #product-table td {
    border: 2px solid black;
    padding: 14px;
    text-align: left;
    font-size: 18px;
}

#cart_table th {
    background-color: #f27900;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

#cart_table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#cart_table tr:hover {
    background-color: #f1f1f1;
}

#cart_table td {
    font-size: 16px;
}

#shopping-car-div {
    width: 800px;
    font-size: 20px;
    margin-left: 600px;
}

#total-price {
    padding: 20px;
    margin-left: 300px;
    font-weight: bold;
}
.cart-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}
.cart-popup button {
    margin: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

