<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Welcome to my web site</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <h1 th:text="${message}">Това е заглавие</h1>
    <div class="font-weight-bolder">
    <a th:href="@{/test/create}">Registration</a>
    <br><br>
    <a th:href="@{/test/seller}">log in as a seller </a>
    <br><br>
    <a th:href="@{/test/admin}">log in as a admin</a>
    </div>
</body>
</html>

