<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/adminPage.css">
</head>
<body>
<div class="background-admin-photo"></div>
<div class="menu">
    <nav>
        <h2>Администратор</h2>
        <div th:text="${admin}"></div>
        <br>
        <button id="viewDeliveryCompanyBtn" onclick="viewDeliveryCompany()">Виж фирмите доставчици</button>
        <br>
        <br>
        <button id="addDeliveryCompanyBtn" onclick="addDeliveryCompany()">Добави фирма доставчик</button>
        <br>
        <br>
        <button id="viewUsersBtn" onclick="viewUsers()">Виж всички потребители</button>
        <br>
        <br>
        <button id="viewProductsBtn" onclick="viewProducts()">Виж всички продукти</button>
        <br>
        <form action="/test/logout" method="post">
            <button type="submit">Изход</button>
        </form>
    </nav>
</div>

<section class="deliveryCompanies-container">
    <table id="deliveryTable" style="display: none" border="1">
        <thead>
        <tr>
            <th>Име</th>
            <th>Доставка (лв)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</section>


<section class="create-container">
    <div id="createDeliveryCompany" style="display: none">
        <h2>Добавяне на фирма доставчик</h2>
        <label class="label" for="deliveryCompanyName">Име</label>
        <input id="deliveryCompanyName" type="text">
        <br>
        <span class="error-message" id="error-name"></span>
        <br>
        <label class="label" for="deliveryFee">Доставка(лв)</label>
        <input type="text" id="deliveryFee">
        <br>
        <span class="error-message" id="error-deliveryFee"></span>
        <br>
        <button id="saveBtn" onclick="saveDeliveryCompany()">Запази</button>
    </div>
</section>

<section class="users-container">
    <table id="usersTable" style="display: none" border="1">
        <thead>
        <tr>
            <th>Потребителско име</th>
            <th>Роля</th>
            <th>Имейл</th>
            <th>Име</th>
            <th>Телефонен номер</th>
            <th>Адрес</th>
            <th>Фирма</th>
            <th>ЕИК</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</section>

<section class="users-container">
    <table id="product-table" style="display: none;">
        <thead>
        <tr>
            <th>Име</th>
            <th>Тип</th>
            <th>Тегло (кг)</th>
            <th>Цена(лв)</th>
            <th>Описание</th>
            <th>Отстъпка (%)</th>
            <th>Количество</th>
            <th>Продавач</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
</section>

<script src="/js/adminPage.js"></script>
</body>
</html>