<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buyer</title>
    <link rel="stylesheet" href="/buyerPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<div id="menu">
    <label th:text="${buyer}"></label>
    <br>
    <a href="/userInformationPage.html">My profile information</a>
    <br>
    <br>
    <button id="loadProducts" onclick="loadProductsForSale()">Продукти за покуване</button>
    <br>
    <br>
    <i class="fa-solid fa-cart-shopping" onclick="viewShoppingCart()"></i>
    <br>
    <br>
    <button type="submit" id="viewAnalysesBtn">View analyses</button>
    <br>
    <br>
    <button type="submit" id="allOrdersBtn">View your all orders</button>
    <br>
    <br>
    <form action="/test/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</div>

<table id="product-table" style="display: none;">
    <thead>
    <tr>
        <th>Име</th>
        <th>Тип</th>
        <th>Тегло (г)</th>
        <th>Цена</th>
        <th>Описание</th>
        <th>Наличност</th>
        <th>Количество</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="tbody">

    </tbody>
</table>

<div id="shopping-car-div" style="display: none;">
    <table id="cart_table" style="display: none;">
        <thead>
        <tr>
            <th>Име</th>
            <th>Тип</th>
            <th>Тегло (kг)</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Отстъпка (%)</th>
            <th>Обща цена</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="tb">

        </tbody>
    </table>

    <div id="total-price"></div>
    <button>Направи поръчка</button>
    <button onclick="loadProductsForSale()">Добави още продукти</button>
</div>


<!-- Тук ще покажем анализа -->
<div id="analysisResult" style="display: none;">
    <h3>Buyer Analysis</h3>
    <p><strong>Total spent:</strong> <span id="totalPrice">Loading...</span></p>
    <p><strong>Average purchase price:</strong> <span id="averagePrice">Loading...</span></p>
    <p><strong>Most purchased product type:</strong> <span id="mostPurchased">Loading...</span></p>
</div>


<div id="orderList" style="display: none;"></div>


<div th:if="${success}">
    <span th:text="${success}"></span>
</div>

<script>
    function loadProductsForSale() {
        let table = document.getElementById("product-table");
        if (table.style.display === "none") {
            table.style.display = "block";
            document.getElementById("analysisResult").style.display = "none";
            document.getElementById("orderList").style.display = "none";
            document.getElementById("shopping-car-div").style.display = "none";
        } else {
            table.style.display = "none";
        }

        fetch("/products/for-sale")
            .then(response => {
                if (!response.ok) {
                    return new Error("Невалидна заявка")
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
                const tableBody = document.getElementById("tbody")
                tableBody.innerHTML = "";
                data.forEach(product => {
                    const row = document.createElement("tr");
                    let quantityInputId = `quantity-${product.id}`;

                    let content = `
                        <td>${product.name}</td>
                        <td>${product.type}</td>
                        <td>${product.weight}</td>
                        <td>${product.price}</td>
                        <td>${product.description}</td>
                        <td>${product.availability}</td>
                        <td><input type="number" id="${quantityInputId}" name="quantity" value="1" min="1"></td>
                        `;

                    if (product.availability === "В наличност") {
                        content += `
                        <td><button onclick="addToCart(${product.id}, document.getElementById('${quantityInputId}').value)">Добави в количка</button></td>
                        `;
                    } else {
                        content += `
                        <td><button disabled>Добави в количка</button></td>
                        `;
                    }

                    row.innerHTML = content;
                    tableBody.appendChild(row);

                });
            })
            .catch(error => {
                console.error('Error:', error)
            });
    }

    function addToCart(id, quantity) {
        console.log(quantity);
        // URL на контролера, където е "/add"
        const url = '/cart/add';

        // Данни, които ще изпратим
        const params = new URLSearchParams();
        params.append('productId', id);
        params.append('quantity', quantity);

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',  // Content-Type за параметрите
            },
            body: params.toString()  // Преобразуваме обектите в string формат
        })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(errorMessage => {
                        throw new Error(errorMessage);
                    });
                }
                return response.text();
            })
            .then(data => {
                alert(data)
            })
            .catch(error => {
                console.error('Грешка при изпращане на заявката:', error);
                alert(error);
            });
    }

    function viewShoppingCart() {
        document.getElementById("cart_table").style.display = "block";
        const shoppingCart = document.getElementById("shopping-car-div");
        if (shoppingCart.style.display === "none") {
            shoppingCart.style.display = "block";
            document.getElementById("analysisResult").style.display = "none";
            document.getElementById("orderList").style.display = "none";
            document.getElementById("product-table").style.display = "none";
        }

        fetch("/cart/view")
            .then(response => {
                if (!response.ok) {
                    throw new Error("Невалидна заявка")
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
                const tableBody = document.getElementById("tb");
                tableBody.innerHTML = "";
                let totalPrice = 0;
                data.forEach(cartProduct => {
                    const row = document.createElement("tr");
                    totalPrice += cartProduct.totalPricePerProduct;
                    row.innerHTML = `
                        <td>${cartProduct.name}</td>
                        <td>${cartProduct.type}</td>
                        <td>${cartProduct.weight}</td>
                        <td>${cartProduct.price}</td>
                        <td>${cartProduct.quantity}</td>
                        <td>${cartProduct.discount}</td>
                        <td>${cartProduct.totalPricePerProduct}</td>
                        <td><button type="submit" onclick="deleteProductFromCart(${cartProduct.id})">Изтрий</button></td>
                    `;
                    tableBody.appendChild(row);
                })
                console.log("Обща сума на покупката", totalPrice);
                document.getElementById("total-price").textContent = "Дължима сума без вкючена доставка: " + totalPrice;

            })
            .catch(error => {
                alert(error);
            })
    }


    document.getElementById("viewAnalysesBtn").addEventListener("click", function (event) {
        event.preventDefault();

        let analysisResult = document.getElementById("analysisResult");

        // Ако анализът вече е видим, го скриваме и спираме изпълнението на кода
        if (analysisResult.style.display === "none") {
            analysisResult.style.display = "block";
            document.getElementById("product-table").style.display = "none";
            document.getElementById("orderList");
        } else {
            analysisResult.style.display = "none";
        }

        fetch("/soldProduct/buyerAnalytics")
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                document.getElementById("totalPrice").textContent = data.totalPurchasePrice.toFixed(2) + " лв.";
                document.getElementById("averagePrice").textContent = data.averagePurchasePrice.toFixed(2) + " лв.";
                document.getElementById("mostPurchased").textContent = data.mostPurchasedType;

                // Показваме резултата
                document.getElementById("analysisResult").style.display = "block";
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
                document.getElementById("analysisResult").innerHTML = "<p style='color: red;'>Error loading data!</p>";
                document.getElementById("analysisResult").style.display = "block";
            });
    })

    document.getElementById("allOrdersBtn").addEventListener("click", function (event) {
        event.preventDefault();
        const container = document.getElementById("orderList");

        if (container.style.display === "none") {
            container.style.display = "block";
            document.getElementById("product-table").style.display = "none";
            document.getElementById("orderList").style.display = "none";
        } else {
            container.style.display = "none";
        }

        fetch("/order/viewAll")
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }

                return response.json();

            })
            .then(date => {
                const container = document.getElementById("orderList");
                container.innerHTML = "";

                date.forEach(order => {
                    console.log("Обработва се поръчка:", order);
                    // Обработка на списъка с продукти
                    let productsHtml = "<ul>";
                    if (order.orderProductDtoList && order.orderProductDtoList.length > 0) {
                        order.orderProductDtoList.forEach(product => {
                            console.log("Продукт:", product);  // Виж продукта
                            productsHtml += `
                        <ol>
                            <strong>Име:</strong> ${product.productName}
                            <br>
                            <strong>Тип:</strong> ${product.productType}
                            <br>
                            <strong>Количество:</strong> ${product.quantity} броя
                        </ol>
                    `;
                        });
                    } else {
                        productsHtml += "<li>Няма продукти в тази поръчка.</li>";
                    }

                    productsHtml += "</ul>";

                    const divElement = document.createElement("div");
                    divElement.innerHTML = `

                    <p><strong>Дата на поръчката:</strong><span>${order.orderDate}</span></p>
                    <p><strong>Адрес на доставка:</strong><span>${order.addressToDelivery}</span></p>
                    <p><strong>Начин на плащане:</strong><span>${order.paymentMethod}</span></p>
                    <p><strong>Фирма доставчик:</strong><span>${order.deliveryCompany}</span></p>
                    <p><strong>Доставка:</strong><span>${order.deliveryFee.toFixed(2)}</span> лв</p>
                    <p><strong>Цена с включена доставка:</strong><span>${order.priceWithDeliveryFee.toFixed(2)}</span> лв</p>
                    <br>
                    <p>${productsHtml}</p>
                    <br>
                    `;

                    container.appendChild(divElement);
                })
                container.style.display = "block";
            })

            .catch(err => console.error(err));
    })
</script>
</body>
</html>