<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buyer</title>
    <link rel="stylesheet" href="/css/buyerPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
<div class="background-photo"></div>
<div id="menu">
    <label th:text="${buyer}"></label>
    <br>
    <i class="fa-solid fa-circle-user" onclick="openUserProfile()"></i>
    <br>
    <br>
    <button id="loadProducts" onclick="loadProductsForSale()">Продукти за покуване</button>
    <br>
    <br>
    <button type="submit" id="allOrdersBtn" onclick="viewOrders()">Моите поръчки</button>
    <br>
    <br>
    <button type="submit" id="viewAnalysesBtn" onclick="viewAnalysis()">Анализи</button>
    <br>
    <br>
    <i class="fa-solid fa-cart-shopping" onclick="viewShoppingCart()"></i>
    <br>
    <br>
    <form action="/test/logout" method="post">
        <button type="submit">Изход</button>
    </form>
</div>
<section class="products-table">
    <table id="product-table" style="display: none;">
        <thead>
        <tr>
            <th>Име</th>
            <th>Тип</th>
            <th>Тегло (кг)</th>
            <th>Цена(лв)</th>
            <th>Описание</th>
            <th>Наличност</th>
            <th>Количество</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
</section>


<div id="shopping-car-div" style="display: none;">
    <table id="cart_table" style="display: none;">
        <thead>
        <tr>
            <th>Име</th>
            <th>Тип</th>
            <th>Тегло (кг)</th>
            <th>Цена(лв)</th>
            <th>Количество</th>
            <th>Отстъпка (%)</th>
            <th>Обща цена(лв)</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="tb">

        </tbody>
    </table>

    <div id="total-price"></div>

    <button id="inputOrderInfoBtn" onclick="inputOrderInfo()" style="display: none;">Премини към поръчка</button>

    <button onclick="loadProductsForSale()">Добави още продукти</button>

    <div id="order-input" style="display: none;">
    </div>

</div>

<div id="cartNotification" class="cart-popup" style="display: none;">
    <p>Продуктът беше добавен в количката! Искате ли да отидете в количката?</p>
    <button onclick="viewShoppingCart()">Да</button>
</div>

<section class="buyerAnalysis-container">
    <div id="analysisResult" style="display: none;"></div>
</section>

<section class="orderList-container">
    <div id="orderList" style="display: none;"></div>
</section>


<div th:if="${success}">
    <span th:text="${success}"></span>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script src="/js/buyerPage.js"></script>
</body>
</html>