<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seller</title>
    <link rel="stylesheet" href="/css/sellerPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
<div class="background-blur"></div>
<div class="menu">
    <h2>
        <div th:text="${seller}"></div>
    </h2>
    <br>
    <i class="fa-solid fa-circle-user" onclick="openUserProfile()"></i>
    <br>
    <br>
    <button type="button" onclick="createProduct()">Създай продукт</button>
    <br>
    <br>
    <button type="button" onclick="viewYourProducts()">Моите продукти</button>
    <br>
    <br>
    <button type="button" onclick="viewSellerAnalysis()">Анализи</button>
    <br>
    <br>
    <form action="/test/logout" method="post">
        <button type="submit">Изход</button>
    </form>
</div>
<div id="createProduct" class="product-form" style="display: none;">
    <h2>Създаване на продукт</h2>

    <label for="name">Име</label>
    <input type="text" id="name">
    <span class="error-message" id="error-name"></span>
    <br>
    <label for="type">Тип</label>
    <select id="type">
        <option value="">-- Избери тип --</option>
        <option value="кашкавал">кашкавал</option>
        <option value="сирене">сирене</option>
        <option value="масло">масло</option>
        <option value="прясно мляко">прясно мляко</option>
        <option value="кисело мляко">кисело мляко</option>
        <option value="извара">извара</option>
        <option value="айрян">айрян</option>
    </select>
    <span class="error-message" id="error-type"></span>
    <br>
    <label for="weight">Тегло за брой (кг)</label>
    <input type="text" id="weight">
    <span class="error-message" id="error-weight"></span>
    <br>
    <label for="price">Цена(лв)</label>
    <input type="text" id="price">
    <span class="error-message" id="error-price"></span>
    <br>
    <label for="description">Описание</label>
    <textarea id="description"></textarea>
    <span class="error-message" id="error-description"></span>
    <br>
    <label for="discount">Отстъпка (%)</label>
    <input type="text" id="discount">
    <span class="error-message" id="error-discount"></span>
    <br>
    <label for="quantity">Количество/брой</label>
    <input type="text" id="quantity">
    <span class="error-message" id="error-quantity"></span>
    <br>
    <button id="saveProduct" onclick="saveProduct()">Запази</button>
    <br>
</div>

<div class="table-container" id="table">
    <table id="product-table" style="display: none;">
        <thead>
        <tr>
            <th>Име</th>
            <th>Тип</th>
            <th>Тегло за брой (кг)</th>
            <th>Цена(лв)</th>
            <th>Описание</th>
            <th>Отстъпка (%)</th>
            <th>Количество/брой</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
</div>


<div id="editProduct" style="display: none;"></div>
<section class="sellerAnalysis-container">
    <div id="sellerAnalysis" style="display: none"></div>
</section>

<script src="/js/sellerPage.js"></script>
</body>
</html>

